---
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SubTitle from '../components/SubTitle.astro'
import CodeIcon from '../components/icons/CodeIcon.astro'
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio de Mikell Bobadilla">
    <main class="p-4">
        <div class="w-full max-w-2xl mx-auto">
            <SectionContainer
                id="sobre-mi"
                class="pt-14 sm:py-28 sm:pb-32 pb-16"
            >
                <About />
            </SectionContainer>
            
            <SectionContainer id="proyectos">
                <SubTitle>
                    <CodeIcon class="size-9" />
                    Proyectos
                </SubTitle>

                <Projects />

            </SectionContainer>
        </div>


    </main>
</Layout>
