<header class="w-full bg-transparent backdrop-blur-[100px]">
    <div class="flex justify-center items-center py-3 w-full max-w-6xl mx-auto">
        <nav
            class="flex flex-row justify-between sm:justify-center flex-wrap gap-x-5 sm:gap-x-10 opacity-80 text-base"
        >
            <a class="hover:text-indigo-400 transition" href="#sobre-mi">
                Sobre mi
            </a>

            <a class="hover:text-indigo-400 transition" href="#proyectos">
                Proyectos
            </a>

            <a class="hover:text-indigo-400 transition" href="#experiencia">
                Experiencia
            </a>
        </nav>
    </div>
</header>
