<a
    {...Astro.props}
    target="_blank" rel="noopener noreferrer"
    class="flex items-center gap-x-2 px-3 py-1 rounded-lg text-zinc-300 bg-zinc-800 transition hover:scale-105 hover:text-zinc-100"
>
    <slot />
</a>
